body {
	width 100%;
	margin: 0;
}

img {
	width: 100%;
}

#logo.mini {
	width: 25%;
}

@-webkit-keyframes logo_anime {
	from {
		width: 25%;
	}

	to {
		width: 100% !important;
	}
}

@keyframes logo_anime {
	from {
		width: 100%;
	}

	to {
		width: 25% !important;
	}
}

#logo {
	width: 100%;
}



.luxbar-header {
	min-width: 500px;
}

.menulogo {
	height: 50px;
	width: auto;
	margin-top: 6px;
	float: left;
}

.luxbar-item {
	font-family: Talking;
}

.luxbar-brand {
	font-family: "はるひ学園";
	font-size: 1.8em;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	max-height: inherit;
}

.logotitle {
	margin: 10px 80px;
	padding: 5px;
	display: inline-block;
	vertical-align: middle;
}
