body {
	background-color: #e0e7f1;
	margin: 0;
	width: 100%;
	font-size: 20px;
	overflow-x: hidden;
}

.content {
	margin: 100px 0 10px;
	font-size: 0.7em;
	text-align: center;
}

.mainsite {
	margin: 0;
}

.toplogo {
	width: 100%;
}

ul.navigation {
	list-style-type: none;
	margin: auto;
	padding: 0;
	width: 90%;
	background-color: #f1f1f1;
	position: relative;
	overflow: auto;
}

ul.navigation li a {
	display: block;
	color: #000000;
	padding: 8px 16px;
	text-decoration: none;
}

ul.navigation li a.active {
	background-color: #4f8bad;
	color: white;
}

ul.navigation li a:hover:not(.active) {
	background-color: #1b2538;
	color: white;
}

div.content {
	margin-left: 25%;
	padding: 1px 16px;
	height: 1000px;
}

@media screen and (max-width: 900px) {
	ul.navigation {
		width: 100%;
		height: auto;
		position: relative;
	}

	ul.navigation li a {
		float: left;
		padding: 15px;
	}

	div.content {
		margin-left: 0;
	}
}

@media screen and (max-width: 480px) {
	ul.navigation li a {
		text-align: center;
		float: none;
	}
}

hr {
	width: 100%;
	margin: 0;
}

.topmenu {
	margin: 50px auto;
}

li {
	text-align: center;
	vertical-align: middle;
	height: 100px;
}

.newSong {
	margin: 20px auto;
	text-align: center;
}

#main{
    z-index:1000;
}

img#background{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
}

canvas{
    width: 100%;
    height: auto;
    z-index: 1;
}

.topInfo {
    margin: 10px 0;
    width: 100%;
    background-color: azure;
    color: #4f8bad;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
